      <div class="row">
      	<div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">List of Payments Made</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Amount (RM)</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" *ngFor="let list of paymentList | async; let i = index" >
                	<td>{{ i+1 }}</td>
                    <td>{{ list.transdate | date:'yyyy-MM-dd' }}</td>
                    <td>{{ list.type }}</td>
                    <td>{{ list.name }}</td>
                    <td>{{ list.amount }}</td>
                    <td>{{ list.status }}</td>
                    <td><button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#confirm">Verify</button></td>
                    <div class="modal fade" id="confirm">
                      <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                                  <h4 class="modal-title">Confirm</h4>
                              </div>
                              <div class="modal-body">
                                  <p>Are you sure want to continue?</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="verify(list.key)">Verify</button>
                              </div>
                          </div>
                          <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                  </div>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
              
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row (main row) -->