<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/avatar.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Norlita Paitan</p>
        <!-- Status -->
          <i class="fa fa-circle text-success"></i> Administrator
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
        <li><a routerLink="/starter"><i class="fa fa-link"></i> <span>Verify</span></a></li>
        <li><a routerLink="/paymentList"><i class="fa fa-link"></i> <span>Transaction</span></a></li>
        <li><a routerLink="/infaq"><i class="fa fa-link"></i> <span>Infaq</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
